@mixin header-background {
	background:
		-ms-linear-gradient(
			left,
			rgba(255,255,255,0),
			rgba(255,255,255,0.7)),
		url(../images/banner.jpg);

	background:
		-moz-linear-gradient(
			left,
			rgba(255,255,255,0),
			rgba(255,255,255,0.7)),
		url(../images/banner.jpg);

	background:
		-webkit-linear-gradient(
			left,
			rgba(255,255,255,0),
			rgba(255,255,255,0.7)),
		url(../images/banner.jpg);

		background:
		-o-linear-gradient(
			left,
			rgba(255,255,255,0),
			rgba(255,255,255,0.7)),
		url(../images/banner.jpg);

		background:
		linear-gradient(
			left,
			rgba(255,255,255,0),
			rgba(255,255,255,0.7)),
		url(../images/banner.jpg);
}

header {
	padding: $scale * 50px;
	position: relative;
	background: transparent;
	box-shadow: 0px $scale * 5px $scale * 20px black;

	&:after {
		content: "";
		opacity: 1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;

		@include header-background;
	}

	a {
		@include transition(all 0.3s ease);

		&:hover {
			padding-left: $scale * 10px;
		}
	}

	img {
		position: relative;
		left: 0;
		width: $scale * 250px;
	}

	div {
		font-family: 'Fjalla One';
		font-size: $scale * 90px;
		text-transform: uppercase;
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: $scale * 50px;

		@include flexbox;

		p {
			margin: auto;
		}
	}
}