#header {
	// display: block;
	width: 100%;
	background: transparent;
	position: relative;
	color: $light-grey;
	overflow: auto;
	box-shadow: 0 0 $scale * 20px #000;
	background: rgba(157, 111, 65, 0.4);

	&:after {
		content: "";
		background-image: url(../images/dirt2.png);
		// opacity: 0.4;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
	}

	p {
		padding-bottom: $scale * 20px;
	}

	td {
		padding: $scale * 20px;
	}

	#slide {
		width: 40%;

		img {
			display: block;
			width: 100%;
			max-width: $scale * 400px;
			margin: 0 auto;
		}
	}
}

/* .container {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	background: rgb(157, 111, 65);

	&:after {
		content: "";
		background-image: url(../images/dirt2.png);
		opacity: 0.4;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
	}
}

#slides {
	width: 100%;
	height: 100%;
	
	div {
		width: 100%;
		height: 100%;
	}
	
} */

.header-text {
	width: 50%;
	height: 100%;
	padding: $scale * 100px $scale * 20px;
	float: right;
	// z-index: 12;
}

.content {
	text-align: center;
	
	a {
		position: relative;
		font-family: 'Montserrat';
		font-size: $scale * 20px;
		text-transform: uppercase;
		text-decoration: none;
		background: transparent;
		color: #fff;
		padding: $scale * 15px $scale * 20px;
		z-index: 5;
	}
	
	a:after {
		content: "";
		display: block;
		width: 0px;
		height: 0px;
		position: absolute;
		top: 50%;
		left: 50%;
		background: #4b4b4b;
		z-index: -1;

		@include transition(all 0.3s ease);
	}
	
	a:hover:after {
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	
}

#more {
	// z-index: -2;
	display: inline-flex;
}

@media (max-width: 850px) {
	#header {
		td {
			display: block;
		}

		#slide {
			width: 60%;
			margin: 0 auto;
			clear: both;

			img {
				max-width: $scale * 1000px;
			}
		}

		#text {
			width: 80%;
			margin: 0 auto;
			clear: both;
		}
	}
}	