@mixin transition($transition) {
	-ms-transition:     $transition;
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-o-transition:      $transition;
}

@mixin transform($transform) {
	-ms-transform:     $transform;
	-webkit-transform: $transform;
	-moz-transform:    $transform;
	-o-transform:      $transform;
}

@mixin flexbox {
	display: -ms-flex;
	flex-direction: -ms-row;
	flex-wrap: -ms-wrap;
	justify-content: -ms-space-around;
	align-content: -ms-space-around;

	display: -moz-flex;
	flex-direction: -moz-row;
	flex-wrap: -moz-wrap;
	justify-content: -moz-space-around;
	align-content: -moz-space-around;

	display: -webkit-flex;
	flex-direction: -webkit-row;
	flex-wrap: -webkit-wrap;
	justify-content: -webkit-space-around;
	align-content: -webkit-space-around;

	display: -o-flex;
	flex-direction: -o-row;
	flex-wrap: -o-wrap;
	justify-content: -o-space-around;
	align-content: -o-space-around;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

@mixin display-flex {
	display:     -ms-flex;
	display:    -moz-flex;
	display: -webkit-flex;
	display:      -o-flex;
	display:         flex;
}

@mixin flex-grow($grow) {
	    -ms-flex-grow: $grow;
	   -moz-flex-grow: $grow;
	-webkit-flex-grow: $grow;
	     -o-flex-grow: $grow;
	        flex-grow: $grow;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans';
	color: $dark-grey;
	display: block !important;
	position: relative;
	line-height: 1.4;
	background: #fff;
	font-size: $scale * 18px;
}

a {
	@include transition(all 0.3s ease);
	text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	text-transform: uppercase;
	font-family: 'Fjalla One';
}